In [6]:
import pandas as pd 
lt = [1,6,4,8,45]
dt = pd.DataFrame(lt)
(dt == 1) | (dt == 45) | (dt == 16)

       0
0   True
1  False
2  False
3  False
4   True

In [7]:
dt[(dt == 1) | (dt == 45) | (dt == 16)]

      0
0   1.0
1   NaN
2   NaN
3   NaN
4  45.0

# isin() is used to check whether each element of a Series or DataFrame is present in a list (or another Series)

In [8]:
dt.isin([1,45,100])

       0
0   True
1  False
2  False
3  False
4   True