In [1]:
import pandas as pd

col_names = ["Name", "Age", "City"]

df = pd.DataFrame([
    ["Yash", 21, "Indore"],
    ["Rohan", 23, "Delhi"]
], columns=col_names)

print(df)

    Name  Age    City
0   Yash   21  Indore
1  Rohan   23   Delhi

In [2]:
ds = {'dfsf':[4,9,5,4,5,4],
      'sdfsf': [56,89,56,49,49,5]
     }
pd.DataFrame(ds)

   dfsf  sdfsf
0     4     56
1     9     89
2     5     56
3     4     49
4     5     49
5     4      5

In [4]:
df.index.name = "ID"
df

     Name  Age    City
ID
0    Yash   21  Indore
1   Rohan   23   Delhi

In [7]:
ds = pd.read_csv('german_credit_risk.csv')

In [8]:
ds.size

11000

In [9]:
ds.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

# decrease the size

In [17]:
print(ds['Age'].dtype)
print(ds['Age'].size)
ds['Age'] = ds['Age'].astype('int32')
print(ds.size)

int32
1000
11000