# adding a new column in the exiting dataframe

this the way to add a new column in the last position of your dataframe 
limitation:- you can't add a column on other the postion like index 1,2 and so on

In [8]:
import pandas as pd
data = {
"Name"  : ['yash','yash vardhan','tanya','tushi','mohit','monu','shinchan','nobitha','doremone'],
"age"   : [21,23,20,18,25,26,45,22,30],   # Note: these are strings, not numbers
"salary":[101000,100000,10000,20000,150,12000,15000,25000,30000],
"work"  : ['data science','data analyst','sales executive','accounted','swiper','hardware Engineering',
           'maneger','bank maneger','scientest']
}
df = pd.DataFrame(data)
print("orginal data frame")
print(df)
print("adding a new column in the exiting data frame :-")
df['bonus'] = df['salary'] * 0.1
print(df)

orginal data frame
           Name  age  salary                  work
0          yash   21  101000          data science
1  yash vardhan   23  100000          data analyst
2         tanya   20   10000       sales executive
3         tushi   18   20000             accounted
4         mohit   25     150                swiper
5          monu   26   12000  hardware Engineering
6      shinchan   45   15000               maneger
7       nobitha   22   25000          bank maneger
8      doremone   30   30000             scientest
adding a new column in the exiting data frame :-
           Name  age  salary                  work    bonus
0          yash   21  101000          data science  10100.0
1  yash vardhan   23  100000          data analyst  10000.0
2         tanya   20   10000       sales executive   1000.0
3         tushi   18   20000             accounted   2000.0
4         mohit   25     150                swiper     15.0
5          monu   26   12000  hardware Engineering   1200.0
6      shinchan   45   15000               maneger   1500.0
7       nobitha   22   25000          bank maneger   2500.0
8      doremone   30   30000             scientest   3000.0

# another method to adding a new column in the spacfic postion

the method is insert(location,'column_name',some data)

In [12]:
import pandas as pd
data = {
"Name"  : ['yash','yash vardhan','tanya','tushi','mohit','monu','shinchan','nobitha','doremone'],
"age"   : [21,23,20,18,25,26,45,22,30],   # Note: these are strings, not numbers
"salary":[101000,100000,10000,20000,150,12000,15000,25000,30000],
"work"  : ['data science','data analyst','sales executive','accounted','swiper','hardware Engineering',
           'maneger','bank maneger','scientest']
}
df = pd.DataFrame(data)
print("orginal data frame")
print(df)
print("adding new column by insert() method:-")
df.insert(2,"emolye id",[22,20,15,65,84,98,74,66,34])
print(df)

orginal data frame
           Name  age  salary                  work
0          yash   21  101000          data science
1  yash vardhan   23  100000          data analyst
2         tanya   20   10000       sales executive
3         tushi   18   20000             accounted
4         mohit   25     150                swiper
5          monu   26   12000  hardware Engineering
6      shinchan   45   15000               maneger
7       nobitha   22   25000          bank maneger
8      doremone   30   30000             scientest
adding new column by insert() method:-
           Name  age  emolye id  salary                  work
0          yash   21         22  101000          data science
1  yash vardhan   23         20  100000          data analyst
2         tanya   20         15   10000       sales executive
3         tushi   18         65   20000             accounted
4         mohit   25         84     150                swiper
5          monu   26         98   12000  hardware Engineering
6      shinchan   45         74   15000               maneger
7       nobitha   22         66   25000          bank maneger
8      doremone   30         34   30000             scientest