# between() fuction 
The between() function in Pandas is a method available for Series objects, used to check if values within the Series fall within a specified range. It returns a boolean Series indicating whether each element in the original Series is within the given lower and upper boundaries.

* Series.between(left, right, inclusive='both')

In [4]:
import pandas as pd 
import numpy as np 
data = pd.Series(np.arange(1,11))
data_fillterd = data[data.between(5,10)]
print(data.between(5,10))
print(data_fillterd)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [3]:
# inclusive = 'neither'  print the value between 5 to 7 that was 6 in index 5
data_fillter = data[data.between(5,7, inclusive='neither')]
print(data_fillter)

5    6
dtype: int32

# drop_duplicates 
* DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)
* Return DataFrame with duplicate rows removed.

In [13]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]})
print(df)
print('drop all duplicates values :- \n',df.drop_duplicates())
print('drop spacific columns duplicates values :- \n',df.drop_duplicates(subset='brand'))
print('drop spacific columns duplicates values :- \n',df.drop_duplicates(subset='brand'))

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0
drop all duplicates values :-
      brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0
drop spacific columns duplicates values :-
      brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

* To remove duplicates and keep last occurrences, use keep

In [14]:
print('drop spacific columns duplicates values :- \n',df.drop_duplicates(subset=['brand', 'style']
                                                                         , keep='last'))

drop spacific columns duplicates values :-
      brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0