# sorting the dataframe 
* with the help of sort_values() method
* syntex sort_values(by = 'column_name', asscending = True/False, inplace = True)
* True = assending order , False = deccending order

In [11]:
import pandas as pd
dataset = {
        "Name":['yash','roshni','tushi','dholo','raju','papu'],
        "age":[21,12,53,25,19,18],
        "income":[1212,5454,878,5454,6566,9898]
}
df = pd.DataFrame(dataset)
print(df)
df.sort_values(by = 'age',ascending=True,inplace = True)
print("sorting in accending order dataframe:-")
print(df)
df.sort_values(by = 'age',ascending=False,inplace = True)
print("sorting in deccending order  dataframe:-")
print(df)

     Name  age  income
0    yash   21    1212
1  roshni   12    5454
2   tushi   53     878
3   dholo   25    5454
4    raju   19    6566
5    papu   18    9898
sorting in accending order dataframe:-
     Name  age  income
1  roshni   12    5454
5    papu   18    9898
4    raju   19    6566
0    yash   21    1212
3   dholo   25    5454
2   tushi   53     878
sorting in deccending order  dataframe:-
     Name  age  income
2   tushi   53     878
3   dholo   25    5454
0    yash   21    1212
4    raju   19    6566
5    papu   18    9898
1  roshni   12    5454

# sorting two  or more column by this syntex
* df.sort_values(by =["age","salary"], [True,False], inplace = True)

In [16]:
import pandas as pd
dataset = {
        "Name":['yash','roshni','tushi','dholo','raju','papu'],
        "age":[21,12,53,25,19,18],
        "income":[1212,5454,878,5454,6566,9898]
}
df = pd.DataFrame(dataset)
print(df)
df.sort_values(by = ["age","income"], ascending = [True,False],inplace = True)
print("sorting two age and salary dataframe :-")
print(df)

     Name  age  income
0    yash   21    1212
1  roshni   12    5454
2   tushi   53     878
3   dholo   25    5454
4    raju   19    6566
5    papu   18    9898
sorting two age and salary dataframe :-
     Name  age  income
1  roshni   12    5454
5    papu   18    9898
4    raju   19    6566
0    yash   21    1212
3   dholo   25    5454
2   tushi   53     878

# Aggregation
* aggregation is showing the summery statistic means :- (numerical opration output)

In [1]:
import pandas as pd
dataset = {
        "Name":['yash','roshni','tushi','dholo','raju','papu'],
        "age":[21,12,53,25,19,18],
        "income":[1212,5454,878,5454,6566,9898]
}
df = pd.DataFrame(dataset)
print(df)
average = df['income'].mean()
m = df['income'].median()
print('average :-',average,"median :-",m)

     Name  age  income
0    yash   21    1212
1  roshni   12    5454
2   tushi   53     878
3   dholo   25    5454
4    raju   19    6566
5    papu   18    9898
average :- 4910.333333333333 median :- 5454.0

# aggergaion for tow or more columns

In [7]:
import pandas as pd 
data = {
       'name': ['yash','tushi','roshni','premchand','armaan'],
        'age': [21,24,16,50,2],
        'salary':[1212,545,2121,545,3545]
}
df = pd.DataFrame(data)
print(df)
average = df[['age','salary']].max() 
mode = df[['age','salary']].median()
print(average,'mode:-',mode)

        name  age  salary
0       yash   21    1212
1      tushi   24     545
2     roshni   16    2121
3  premchand   50     545
4     armaan    2    3545
age         50
salary    3545
dtype: int64 mode:- age         21.0
salary    1212.0
dtype: float64