In [2]:
import pandas as pd 
ds = pd.read_excel('weather_data.xlsx')
ds

        day    city weather  temp  windspeed
0  1/1/2024  bhopal     fog  24.0       10.0
1  1/2/2024  indore   sunny  32.0        4.0
2  1/3/2024  bhopal   rainy  20.0       18.0
3  1/4/2024  bhopal     fog  20.0       16.0
4  1/5/2024  indore   sunny  35.0        5.0
5  1/6/2024  bhopal   rainy  21.0       20.0
6  1/7/2024  ujjain   sunny  38.0        3.0
7  1/8/2024  ujjain   rainy  19.0       17.0
8  1/9/2024  ujjain     fog   NaN        NaN

In [ ]:
groupby return two par key and values that was c and value in the value

In [3]:
ct = ds.groupby(['city'])
for c,value in ct:
    print(c)
    print(value)

('bhopal',)
        day    city weather  temp  windspeed
0  1/1/2024  bhopal     fog  24.0       10.0
2  1/3/2024  bhopal   rainy  20.0       18.0
3  1/4/2024  bhopal     fog  20.0       16.0
5  1/6/2024  bhopal   rainy  21.0       20.0
('indore',)
        day    city weather  temp  windspeed
1  1/2/2024  indore   sunny  32.0        4.0
4  1/5/2024  indore   sunny  35.0        5.0
('ujjain',)
        day    city weather  temp  windspeed
6  1/7/2024  ujjain   sunny  38.0        3.0
7  1/8/2024  ujjain   rainy  19.0       17.0
8  1/9/2024  ujjain     fog   NaN        NaN

# get a column in spacific position with the help of get_group

In [4]:
ct.get_group('bhopal')

C:\Users\yes\AppData\Local\Temp\ipykernel_14768\751546622.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  ct.get_group('bhopal')

        day    city weather  temp  windspeed
0  1/1/2024  bhopal     fog  24.0       10.0
2  1/3/2024  bhopal   rainy  20.0       18.0
3  1/4/2024  bhopal     fog  20.0       16.0
5  1/6/2024  bhopal   rainy  21.0       20.0

In [8]:
ct.get_group('bhopal').apply(max)

C:\Users\yes\AppData\Local\Temp\ipykernel_14768\3735286046.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  ct.get_group('bhopal').apply(max)

day          1/6/2024
city           bhopal
weather         rainy
temp             24.0
windspeed        20.0
dtype: object

In [19]:
def cybrom(v):
    return v > 18
ct['windspeed'].apply(cybrom)

city
bhopal  0    False
        2    False
        3    False
        5     True
indore  1    False
        4    False
ujjain  6    False
        7    False
        8    False
Name: windspeed, dtype: bool

In [ ]:
ct.get_group('bhopal').filter(lambda x: ct > 18)

In [17]:
ct.agg({'temp': 'min','windspeed':'max'})

        temp  windspeed
city
bhopal  20.0       20.0
indore  32.0        5.0
ujjain  19.0       17.0