# why need to explor the dataset 
1. understand the data set(how many rows and coloum ,type of the data like csv,execel and etc)
2. identify the problem
3. plan next step

# 1. rows find out 
there are two method head() and tail()
syntex:-
where n is the integer
head(n) or head() by default (5) rows
tail(n) or tail() by default (5) rows

In [18]:
import pandas as pd
ds = pd.read_excel("student_dataset.xlsx")
print("print the first 10 rows ")
print(ds.head(10))
print("print the last 10 rows")
print(ds.tail(10))
print("by default values:-")
print(ds.head())
print(ds.tail())

print the first 10 rows
   StudentID                Name  Age  Gender  Course  Year  Marks
0          1          Juan Jones   21  Female  B.Tech     3     72
1          2   Mr. Joshua Wright   23  Female   B.Com     3     41
2          3  Stephanie Robinson   20  Female     MBA     3     62
3          4       Edwin Russell   19    Male     MBA     4     96
4          5       William Riggs   22    Male     MBA     3     53
5          6        Robert Baker   22  Female    B.Sc     2     68
6          7       Richard Olson   25  Female      BA     3     88
7          8          David Love   21  Female    B.Sc     2     79
8          9      Deborah Conway   22    Male     MCA     1     80
9         10      Angela Herrera   20    Male     MCA     3     93
print the last 10 rows
     StudentID                   Name  Age  Gender  Course  Year  Marks
990        991  Christopher Mcconnell   25    Male     BBA     1     41
991        992            Ashley King   20  Female      BA     2     52
992        993       Samuel Robertson   24  Female      BA     1     41
993        994           Scott Cannon   18    Male     MBA     3     67
994        995        Jacqueline Tate   24    Male  B.Tech     4     49
995        996         Scott Martinez   22  Female   B.Com     1     58
996        997          Andrew Jordan   18    Male      BA     1     55
997        998           David Hester   21    Male  B.Tech     3     51
998        999            Amy Mercado   19    Male     MCA     3     95
999       1000       Jacqueline Mccoy   20  Female    B.Sc     3     74
by default values:-
   StudentID                Name  Age  Gender  Course  Year  Marks
0          1          Juan Jones   21  Female  B.Tech     3     72
1          2   Mr. Joshua Wright   23  Female   B.Com     3     41
2          3  Stephanie Robinson   20  Female     MBA     3     62
3          4       Edwin Russell   19    Male     MBA     4     96
4          5       William Riggs   22    Male     MBA     3     53
     StudentID              Name  Age  Gender  Course  Year  Marks
995        996    Scott Martinez   22  Female   B.Com     1     58
996        997     Andrew Jordan   18    Male      BA     1     55
997        998      David Hester   21    Male  B.Tech     3     51
998        999       Amy Mercado   19    Male     MCA     3     95
999       1000  Jacqueline Mccoy   20  Female    B.Sc     3     74

1. colums, row ?
2. what is the type ?
3. missing values ?
there is method to find all the condition that was the
info() method

a. no of column and rows
b. column name 
c. type int ,float and etc
d. non null counts

describe() is a method like a info but defferent :-

count → number of non-null values
mean → average value
std → standard deviation (spread of values)
min → minimum value
25%, 50%, 75% → percentiles (quartiles)
max → maximum value

In [3]:
import pandas as pd 
ds = pd.read_excel("student_dataset.xlsx")
print('displaying the info of the data set :-')
print(ds.info())
print(ds.describe()) # describe is also a method 
# object means there some string data or categary data like citys name

displaying the info of the data set :-
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  1000 non-null   int64
 1   Name       1000 non-null   object
 2   Age        1000 non-null   int64
 3   Gender     1000 non-null   object
 4   Course     1000 non-null   object
 5   Year       1000 non-null   int64
 6   Marks      1000 non-null   int64
dtypes: int64(4), object(3)
memory usage: 54.8+ KB
None
         StudentID          Age         Year        Marks
count  1000.000000  1000.000000  1000.000000  1000.000000
mean    500.500000    21.430000     2.501000    67.823000
std     288.819436     2.297472     1.118593    19.028762
min       1.000000    18.000000     1.000000    35.000000
25%     250.750000    19.000000     2.000000    51.000000
50%     500.500000    21.000000     2.000000    68.000000
75%     750.250000    23.000000     4.000000    84.250000
max    1000.000000    25.000000     4.000000   100.000000