adding a new column in the exiting dataframe

In [5]:
import pandas as pd
data = {
"Name"  : ['yash','tanya','tushi','mohit','monu','shinchan','nobitha','doremone'],
"age"   : [21,20,18,25,26,45,22,30],   # Note: these are strings, not numbers
"salary":[100000,10000,20000,150,12000,15000,25000,30000],
"work"  : ['data science','sales executive','accounted','swiper','hardware Engineering',
           'maneger','bank maneger','scientest']
}
df = pd.DataFrame(data)
print("orginal data frame")
print(df)
print("adding a new column in the exiting data frame :-")
df['bonus'] = df['salary'] * 0.1
print(df)

orginal data frame
       Name  age  salary                  work
0      yash   21  100000          data science
1     tanya   20   10000       sales executive
2     tushi   18   20000             accounted
3     mohit   25     150                swiper
4      monu   26   12000  hardware Engineering
5  shinchan   45   15000               maneger
6   nobitha   22   25000          bank maneger
7  doremone   30   30000             scientest
adding a new column in the exiting data frame :-
       Name  age  salary                  work    bonus
0      yash   21  100000          data science  10000.0
1     tanya   20   10000       sales executive   1000.0
2     tushi   18   20000             accounted   2000.0
3     mohit   25     150                swiper     15.0
4      monu   26   12000  hardware Engineering   1200.0
5  shinchan   45   15000               maneger   1500.0
6   nobitha   22   25000          bank maneger   2500.0
7  doremone   30   30000             scientest   3000.0