# selecting the single or multi columns in the dataframe

varible = df["column name"] single column 
varible = df[["column name","column name"]] multi column

In [15]:
import pandas as pd
data = {
      "Name"  : ['yash','tanya','tushi','mohit'],
      "age"   : ['21','20','18','25'],   # Note: these are strings, not numbers
      "salary":[100000,10000,20000,150],
      "work"  : ['data science','sales executive','accounted','swiper']
}
df = pd.DataFrame(data)
print(df,sep="\n")
print('selecting the single column', df["work"],sep="\n")  # single column 
print('selecting the multi columns :-',df[["Name","age"]],sep='\n') # multi columns

    Name age  salary             work
0   yash  21  100000     data science
1  tanya  20   10000  sales executive
2  tushi  18   20000        accounted
3  mohit  25     150           swiper
selecting the single column
0       data science
1    sales executive
2          accounted
3             swiper
Name: work, dtype: object
selecting the multi columns :-
    Name age
0   yash  21
1  tanya  20
2  tushi  18
3  mohit  25

In [35]:
import pandas as pd
data = {
      "Name"  : ['yash','tanya','tushi','mohit'],
      "age"   : [21,20,18,25],   # Note: these are strings, not numbers
      "salary":[100000,10000,20000,150],
      "work"  : ['data science','sales executive','accounted','swiper']
}
df = pd.DataFrame(data)
print(df)
print(df[df['salary'] > 20000]) # filter row with single condition 
filter_multi = df[(df['salary'] > 1000) & (df['age'] > 17)]
print('multi condition filter row')
print(filter_multi)

    Name  age  salary             work
0   yash   21  100000     data science
1  tanya   20   10000  sales executive
2  tushi   18   20000        accounted
3  mohit   25     150           swiper
   Name  age  salary          work
0  yash   21  100000  data science
multi condition filter row
    Name  age  salary             work
0   yash   21  100000     data science
1  tanya   20   10000  sales executive
2  tushi   18   20000        accounted