two important attribute like shape and column 
shape:- return the dimention like rows and column as a tuple 
column:- return the name of the column as a list

In [11]:
import pandas as pd

data = {
      "Name"  : ['yash','tanya','tushi','mohit'],
      "age"   : ['21','20','18','25'],   # Note: these are strings, not numbers
      "salary":[100000,10000,20000,150],
      "work"  : ['data science','sales executive','accounted','swiper']
}

ds = pd.DataFrame(data)
print(ds)
print(ds.shape)
print(ds.columns)

    Name age  salary             work
0   yash  21  100000     data science
1  tanya  20   10000  sales executive
2  tushi  18   20000        accounted
3  mohit  25     150           swiper
(4, 4)
Index(['Name', 'age', 'salary', 'work'], dtype='object')