# update a values in the exiting dataframe

update a values by using the df.loc[index number, column name] = data

In [3]:
import pandas as pd 
data = {
"Name"  : ['yash','yash vardhan','tanya','tushi','mohit','monu','shinchan','nobitha','doremone'],
"age"   : [21,23,20,18,25,26,45,22,30],   # Note: these are strings, not numbers
"salary":[101000,100000,10000,20000,150,12000,15000,25000,30000],
"work"  : ['data science','data analyst','sales executive','accounted','swiper','hardware Engineering',
           'maneger','bank maneger','scientest']
}
df = pd.DataFrame(data)
print(df)
df.loc[4,'salary'] = 10000
print("modify data frame in the mohit :-")
print(df)

           Name  age  salary                  work
0          yash   21  101000          data science
1  yash vardhan   23  100000          data analyst
2         tanya   20   10000       sales executive
3         tushi   18   20000             accounted
4         mohit   25     150                swiper
5          monu   26   12000  hardware Engineering
6      shinchan   45   15000               maneger
7       nobitha   22   25000          bank maneger
8      doremone   30   30000             scientest
modify data frame in the mohit :-
           Name  age  salary                  work
0          yash   21  101000          data science
1  yash vardhan   23  100000          data analyst
2         tanya   20   10000       sales executive
3         tushi   18   20000             accounted
4         mohit   25   10000                swiper
5          monu   26   12000  hardware Engineering
6      shinchan   45   15000               maneger
7       nobitha   22   25000          bank maneger
8      doremone   30   30000             scientest