# Exercise 1: From the given dataset print the first and last five rows

In [9]:
import pandas as pd
df = pd.read_csv("Automobile_data (1).csv",encoding="latin1")
df.head()
print("the first five columns :-")
print(df)
df.tail()
print("the last five columns :-")
print(df)

the first five columns :-
    index      company   body-style  wheel-base  ...  num-of-cylinders horsepower average-mileage    price
0       0  alfa-romero  convertible        88.6  ...              four        111              21  13495.0
1       1  alfa-romero  convertible        88.6  ...              four        111              21  16500.0
2       2  alfa-romero    hatchback        94.5  ...               six        154              19  16500.0
3       3         audi        sedan        99.8  ...              four        102              24  13950.0
4       4         audi        sedan        99.4  ...              five        115              18  17450.0
..    ...          ...          ...         ...  ...               ...        ...             ...      ...
56     81   volkswagen        sedan        97.3  ...              four         85              27   7975.0
57     82   volkswagen        sedan        97.3  ...              four         52              37   7995.0
58     86   volkswagen        sedan        97.3  ...              four        100              26   9995.0
59     87        volvo        sedan       104.3  ...              four        114              23  12940.0
60     88        volvo        wagon       104.3  ...              four        114              23  13415.0

[61 rows x 10 columns]
the last five columns :-
    index      company   body-style  wheel-base  ...  num-of-cylinders horsepower average-mileage    price
0       0  alfa-romero  convertible        88.6  ...              four        111              21  13495.0
1       1  alfa-romero  convertible        88.6  ...              four        111              21  16500.0
2       2  alfa-romero    hatchback        94.5  ...               six        154              19  16500.0
3       3         audi        sedan        99.8  ...              four        102              24  13950.0
4       4         audi        sedan        99.4  ...              five        115              18  17450.0
..    ...          ...          ...         ...  ...               ...        ...             ...      ...
56     81   volkswagen        sedan        97.3  ...              four         85              27   7975.0
57     82   volkswagen        sedan        97.3  ...              four         52              37   7995.0
58     86   volkswagen        sedan        97.3  ...              four        100              26   9995.0
59     87        volvo        sedan       104.3  ...              four        114              23  12940.0
60     88        volvo        wagon       104.3  ...              four        114              23  13415.0

[61 rows x 10 columns]