# Creating a Pandas dataframe using list of tuples

In [3]:
import pandas as pd 
ds = [('yash',54,1315533135),
     ('ajay',23,87454564),
      ('mohit',98,89765456)]
df = pd.DataFrame(ds,columns = ['name','age','number'])
print(df)
print()

    name  age      number
0   yash   54  1315533135
1   ajay   23    87454564
2  mohit   98    89765456