# Exercise 1: From the given dataset print the first and last five rows

In [16]:
import pandas as pd
df = pd.read_csv("sample_students_5000.csv",encoding="latin1")
print("first five rows :-")
df.head()
df.tail()
print(df)

first five rows :-
      StudentID                Name  Age  Gender  ... Marks                         Email       Phone       City
0             1        Allison Hill   27    Male  ...    99      fvalencia@mccullough.com  7772715422     Jaipur
1             2         Noah Rhodes   18   Other  ...    81            kathy68@miller.com   383412472  Hyderabad
2             3     Angie Henderson   17  Female  ...    63     mark21@shelton-keller.com   741975370     Jaipur
3             4       Daniel Wagner   28    Male  ...    68              rgiles@yahoo.com  3998877335    Lucknow
4             5     Cristian Santos   21    Male  ...    98        jessicamills@gmail.com  8375582632    Lucknow
...         ...                 ...  ...     ...  ...   ...                           ...         ...        ...
4995       4996      Michael Flores   21   Other  ...   100              kevin46@owen.com  3979064546     Jaipur
4996       4997  Darryl Christensen   30  Female  ...    38       loganwarner@hotmail.com  4847451566  Hyderabad
4997       4998       Allison Floyd   18  Female  ...    77        nicholas08@hotmail.com  7537389350    Kolkata
4998       4999  Michelle Patterson   17  Female  ...    68  wrighttina@hebert-carter.com  4810737863    Lucknow
4999       5000        Wendy Chavez   18    Male  ...    41   walkersamuel@williamson.com    57964834     Mumbai

[5000 rows x 10 columns]