In [2]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier

# change the string value to the number 
df = pd.read_csv('person.csv')
d = {'UK': 0 , 'USA':1, 'N':2}
df['Nationality'] = df['Nationality'].map(d)
d = {"YES":1,"NO":0}
df['GO'] = df['GO'].map(d)

# create features and answer 
features = ['Age', 'Experience', 'Rank', 'Nationality']
x = df[features]
y = df['GO']

# create model
dtree = DecisionTreeClassifier()
dtree = dtree.fit(x,y)

predect = dtree.predect([[values]])
print(predect)

    36  10  9   UK   NO
0   42  12  4  USA   NO
1   23   4  6    N   NO
2   52   4  4  USA   NO
3   43  21  8  USA  YES
4   44  14  5   UK   NO
5   66   3  7    N  YES
6   35  14  9   UK  YES
7   52  13  7    N  YES
8   35   5  9    N  YES
9   24   3  5  USA   NO
10  18   3  7   UK  YES
11  45   9  9   UK  YES