# rondom forest

In [2]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('iris_sample_dataset.csv')
df

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0            6.8           3.2            5.9           2.3   Iris-virginica
1            6.9           3.1            5.1           2.3   Iris-virginica
2            4.9           3.0            1.4           0.2      Iris-setosa
3            5.6           3.0            4.5           1.5  Iris-versicolor
4            4.8           3.1            1.6           0.2      Iris-setosa
5            5.8           2.8            5.1           2.4   Iris-virginica
6            7.2           3.6            6.1           2.5   Iris-virginica
7            5.1           3.5            1.4           0.3      Iris-setosa
8            4.7           3.2            1.6           0.2      Iris-setosa
9            6.6           3.0            4.4           1.4  Iris-versicolor

In [3]:
le = LabelEncoder()
df['Species']= le.fit_transform(df['Species'])
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            6.8           3.2            5.9           2.3        2
1            6.9           3.1            5.1           2.3        2
2            4.9           3.0            1.4           0.2        0
3            5.6           3.0            4.5           1.5        1
4            4.8           3.1            1.6           0.2        0

In [6]:
x = df[['SepalLengthCm'	,'SepalWidthCm',	'PetalLengthCm',	'PetalWidthCm',	'Species']] # feautres 
y = df['Species'] # labels

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y , test_size= 0.3)

In [16]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100,criterion='gini')
rfc.fit(x_train,y_train,)

TypeError: unsupported operand type(s) for *: 'RandomForestClassifier' and 'int'

In [15]:
y_test

9    1
1    2
5    2
Name: Species, dtype: int32