In [87]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
dataset = pd.read_csv('amazon_all_electronics_data.csv', lineterminator='\n')
dataset.head()

                                        Product_Name  ...  Availability
0                   Apple iPhone 15 (128 GB) - Black  ...      In Stock
1                    Apple iPhone 15 (128 GB) - Blue  ...      In Stock
2  Samsung Galaxy S24 Ultra 5G AI Smartphone with...  ...      In Stock
3  Samsung Original 25W Type-C Travel Adaptor Wit...  ...      In Stock
4  realme NARZO 80 Lite 5G (Crystal Purple, 6GB+1...  ...      In Stock

[5 rows x 7 columns]

# i am trying to understand the data

In [88]:
os = dataset.shape
print(os)
dataset.info()
dataset.isnull().sum()

(9318, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9318 entries, 0 to 9317
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_Name  9318 non-null   object
 1   Price         9252 non-null   float64
 2   Rating        9282 non-null   float64
 3   Review_Count  9318 non-null   int64
 4   ASIN          9318 non-null   object
 5   Product_URL   9318 non-null   object
 6   Availability  9318 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 509.7+ KB

Product_Name     0
Price           66
Rating          36
Review_Count     0
ASIN             0
Product_URL      0
Availability     0
dtype: int64

In [14]:
# fill the missing values with mean in the price coloums 
dataset['Price'].fillna(dataset['Price'].mean() , inplace = True)
dataset['Rating'].fillna(dataset['Rating'].median(), inplace=True)
dataset.isnull().sum()

C:\Users\yes\AppData\Local\Temp\ipykernel_6256\195069578.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Price'].fillna(dataset['Price'].mean() , inplace = True)
C:\Users\yes\AppData\Local\Temp\ipykernel_6256\195069578.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Rating'].fillna(dataset['Rating'].median(), inplace=True)

Product_Name    0
Price           0
Rating          0
Review_Count    0
ASIN            0
Product_URL     0
Availability    0
dtype: int64

In [22]:
# there is no outlier
dataset.describe()

               Price       Rating   Review_Count
count    9318.000000  9318.000000    9318.000000
mean     3934.530942     4.099217    7227.565465
std     10615.392966     0.316907   22582.406507
min        41.000000     1.000000       0.000000
25%       269.000000     3.900000     297.000000
50%       633.500000     4.100000    1112.000000
75%      1715.750000     4.300000    4318.500000
max    139990.000000     5.000000  427173.000000

In [89]:
# drop the ASIN coloum because i have no use this coloum 
dataset.drop('ASIN', axis=1 , inplace=True)

In [90]:
 # data_loss_percent = ((original_shape[1] - new_shape[1]) / original_shape[1]) * 100
new_shape = dataset.shape
print(new_shape)
data_loss_percentage = ((orginal_shape[0] - new_shape[0]) / orginal_shape[0]) * 100
print(data_loss_percentage)

(9318, 6)
0.0